.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding-top: 20rem;
  padding-bottom: 20rem;
  background: #008000b2;
}
.raised-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  padding: 2rem 0rem;
  border-radius: 25px;
  box-shadow: 0px 0px 25px rgba(53, 53, 53, 0.8), 
  inset 0px -0px 25px rgba(48, 48, 48, 0.8)

}
.exchange-rate-title{
  color:black;
}
.exchange-rate{
  color:black;
  margin: 2rem 0rem;
}
.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0rem 1rem 1rem 1rem;
}
.error-message{
  color:red;
}
.recurring-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 1rem;
}
.make-recurring-row{
  display:flex;
  justify-content: center;
  margin: 0.5rem;
}
.exchange-rate-display-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rate-buttons{
  margin: 0.5rem;
}

.form-group{
  margin: 0.5rem;
}
.title{
  margin-bottom: 5rem;
  text-decoration: underline;
}